<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="css_file/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="/js_files/site.js"></script> <!-- this is javascript tag located outside the folder -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" type="image/X-icon" href="/images/logo4.png">
  <title>SanketSS</title>
</head>

<body onload="myfunction()">
  <div id="loading"></div>
  <!-- <div class="spinner"></div> -->
  <header>

    <nav>
      <div class="row clearfix">
        <img src="/images/logo.png" alt="site logo" class="logo" onclick="hmpage()">
        <ul class="main-nav" id="check-class">
          <li><a href="index.html">Home</a></li>
          <li><a href="sign.html">Sing-up</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="cont.html">Contact</a></li>
          <li><a href="ser.html">Services</a></li>
        </ul>
        <a href="#" class="mobile-icon" onclick="slideshow()"><i class="fa fa-bars"></i></a>
      </div>
    </nav>
    <div class="main-content-header">

      <h1><span class="colorchange">Welcome to discussion page.</span></h1>
      <h3> you can discuss your techiniqual issue hear.</h3>
      <!-- <a href="download.html" class="btn btn-full">click to download</a>
            <a href="discussion.html" class="btn btn-nav">click for discussion</a> -->
      <section>
        <div class="rt-container">
          <div class="col-rt-12">
            <div class="Scriptcontent">

              <!-- partial:index.partial.html -->
              <section id="app">
                <div class="container">
                  <div class="row">
                    <div class="col-6">
                      <div class="comment">
                        <p v-for="items in item" v-text="items"></p>
                      </div>
                      <!--End Comment-->
                    </div>
                    <!--End col -->
                  </div><!-- End row -->
                  <div class="row">
                    <div class="col-6">
                      <textarea type="text" class="input" placeholder="Write a something..." v-model="newItem"
                        @keyup.enter="addItem()"></textarea>
                      <button v-on:click="addItem()" class='primaryContained float-right' type="submit">Add
                        Comment</button>
                    </div><!-- End col -->
                  </div>
                  <!--End Row -->
                </div>
                <!--End Container -->
              </section><!-- end App -->
              <!-- partial -->
              <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js'></script>
              <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
              <script src="js/script.js"></script>

            </div>
          </div>
        </div>
      </section>

    </div>
  </header>
  <footer class="flooter_" style="width: 100%;height: 100px;  background-color: #010101;">
    <h5 style="color: rgb(85, 82, 82); font-family: 'Dosis', sans-serif; line-height: 90px; text-align: center">
      @Copyright <a href="https://www.instagram.com/aka_assassin__/" id="cc">Sanket-SS</a> 2020 | Last update on <date>
        8/9/2021</date>
    </h5>
  </footer>
  <script>
    var preloder = document.getElementById('loading');
    function myfunction() {
      preloder.style.display = "none";
    }
  </script>
</body>
<style>
  .main-content-header h3 {
    margin-top: -35px;
  }
</style>
<script>
  $(document).ready(function () {

    $(".primaryContained").on('click', function () {
      $(".comment").addClass("commentClicked");
    });//end click
    $("textarea").on('keyup.enter', function () {
      $(".comment").addClass("commentClicked");
    });//end keyup
  });//End Function

  new Vue({
    el: "#app",
    data: {
      title: 'Add a comment',
      newItem: '',
      item: [],
    },
    methods: {
      addItem() {
        this.item.push(this.newItem);
        this.newItem = "";
      }
    }

  });
</script>

</html>